p {
    color: red;
    width: 500px;
    border: 1px solid black;
  }
  h1 {
    font-size: 60px;
    color: red;
    text-align: center;
  }
  
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  button {
    width: 80px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid red;
    background-color: aquamarine;
    transition-duration: 0.4s;

  }
  button:hover{
    background-color: wheat;
  }
  .admin {
    background-color: paleturquoise;
    border-radius: 2px;
    border: 2px solid green;
    padding: 20px;
  }
  input {
    width: 5ch;
  }
